.App {
  text-align: left;
  margin-left: 20px;
}

div {
  box-sizing: border-box;
}

.main-nav {
  display: flex;
  background: rgba(0, 0, 0, 0.822);
  color: azure;
  padding-left: 20px;
  width:100%;
  
  
}

.list {
  text-align : left;
  padding-left : 20px;
  border-bottom : 1px solid grey;
}